{% extends "base.html" %}

{% block title %}Academic Department{% endblock title %}

{% block content %}

<div class="flex-1"> 
    <h2 class="text-xl text-red-900 font-semibold mt-8 mb-4">{% if edit_department %}Edit{% else %}Create{% endif %} Academic Department</h2>
    <form method="POST" class="bg-white p-4 ">
        {% csrf_token %}

        <div class="grid md:grid-cols-4 md:gap-6">
            <div class="mb-4">
                <label for="id_name" class="block mb-2 font-medium text-gray-900 dark:text-white">Department Name</label>
                <input type="text" name="name" id="id_name" class="bg-gray-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.name.value }}">
                {% if form.name.errors %}
                    <div class="text-red-600 text-sm">{{ form.name.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="id_code" class="block mb-2 font-medium text-gray-900 dark:text-white">Department Code</label>
                <input type="text" name="code" id="id_code" class="bg-gray-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.code.value }}">
                {% if form.code.errors %}
                    <div class="text-red-600 text-sm">{{ form.code.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="id_faculty" class="block mb-2 font-medium text-gray-900 dark:text-white">Faculty</label>
                <select name="faculty" id="id_faculty" class="bg-gray-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for value, display in form.faculty.field.choices %}
                        <option value="{{ value }}" {% if value == form.faculty.value %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
                {% if form.faculty.errors %}
                    <div class="text-red-600 text-sm">{{ form.faculty.errors }}</div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md mt-2">{% if edit_program %}Update{% else %}Create{% endif %}</button>
    </form>
    
<!-- List View Section -->
    <hr class="border-t-2 border-[#800000] my-3">
    <h2 class="text-xl text-red-900 font-semibold my-3 mb-4">Academic Departments</h2> 
    <table class="min-w-full bg-white shadow-md border border-[#800000] rounded-lg">
        <thead>
            <tr class="bg-[#800000] text-white font-semibold ">
                <th class="px-4 py-2 border border-gray-900">Department Code</th>
                <th class="px-4 py-2 border border-gray-900">Department Name</th>
                <th class="px-4 py-2 border border-gray-900">Faculty</th>
                <th class="px-4 py-2 border border-gray-900">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr class="hover:bg-gray-100 ">
                <td class="px-4 py-2 border border-[#800000]">{{ department.code }}</td>
                <td class="px-4 py-2 border border-[#800000]">{{ department.name }}</td>
                <td class="px-4 py-2 border border-[#800000]">{{ department.faculty }}</td>
                <td class="px-4 py-2 border border-[#800000]">
                    <a href="{% url 'department-update' department.id %}" class="text-yellow-600 hover:underline mr-2">Edit</a> |
                    <a href="{% url 'department-delete' department.id %}" class="text-yellow-600 hover:underline mr-2">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}