<div>
    <ul>
        <li class="p-2"><a href="{% url 'home' %}" class="block p-1 hover:bg-gray-500 hover:text-white rounded-md ">Home</a></li>
        <li class="p-2"><a href="#"                 class="block p-1 hover:bg-gray-500 hover:text-white rounded-md">Dashboard</a></li>
        <li class="p-2"><a href="{% url 'profile' %}" class="block p-1  hover:bg-gray-500 hover:text-white rounded-md">Profile</a></li>
        <li class="p-2"><a href="#"                 class="block p-1  hover:bg-gray-500 hover:text-white rounded-md">Settings</a></li>
        <li class="p-2"><a href="{% url 'logout' %}" class="block p-1 hover:bg-gray-500 hover:text-white rounded-md">Logout</a></li>
    </ul>
</div>
