<div>
    <ul class="mx-6">
        <li class="p-2"><a href="{% url 'home' %}" class="block p-1 hover:bg-blue-600 hover:text-white rounded-md ">Home</a></li>
        <li class="p-2"><a href="{% url 'session-list-create-update' %}" class="block p-1 hover:bg-blue-600 hover:text-white rounded-md">Academic Session</a></li>
        <li class="p-2"><a href="{% url 'department-list-create-update' %}" class="block p-1  hover:bg-blue-600 hover:text-white rounded-md">Departments</a></li>
        <li class="p-2"><a href="{% url 'program-list-create-update' %}"                 class="block p-1  hover:bg-blue-600 hover:text-white rounded-md">Programs</a></li>
        <li class="p-2"><a href="{% url 'program-semester-list-create-update' %}" class="block p-1 hover:bg-blue-600 hover:text-white rounded-md">Program-Semester</a></li>
    </ul>
</div>
